/* CSS outline -----------------------------------------------

  1.Reset

/*------------------------------------------------------------

1.Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 62.5%;
  line-height: 1;
  word-wrap : break-word;
  overflow-wrap : break-word;
}

html,
body {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: bold;
}

a {
  max-width: 100%;
}

a,
a:visited,
a:active,
a:hover,
a:focus {
  display: inline-block;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
textarea {
  padding: 0 .5rem;
  box-sizing: border-box;
}

input[type=submit] {
  &:focus, &:active, &:hover {
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
}

input:focus,
textarea:focus,
button:focus,
html input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  outline: 0;
}


label {
  cursor: pointer;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
}


iframe {
  max-width: 100%;
}
