/* CSS outline -----------------------------------------------

1. Colors
2. Layouts

/*------------------------------------------------------------

1. Colors */

$white: #fff;
$transparentWhite: rgba(255, 255, 255, 0.4);
$black: rgb(0, 0, 0);
$transparentBlack: rgba(0, 0, 0, 0.4);
$lightGray: rgb(243, 246, 253);
$halfLightGray: rgb(231, 234, 241);
$thinGray: rgb(185, 185, 185);
$gray: rgb(159, 159, 159);
$yellow: rgb(255, 195, 54);
$orange: rgb(255, 113, 54);
$red: rgb(255, 75, 75);
$cyanBlue: #E2EDF5;
$blue: #7EB4F2;
$skyBlue: #50bdff;
